/*=================================
PRIMARY FORMATTING
=================================*/
body{
	font: normal 12px/18px "HelveticaNeue", sans-serif;
	color: #2f2f2f;
}

::-moz-selection{
	background: #333;
	color: #fff; 
}

::selection{
	background: #333;
	color: #fff; 
}

a{
	text-decoration: none;
}

a,
a:visited,
a:hover,
a:active{
	color: #4f5356;
}

h1{
	font: normal 30px/30px "Chunkfive", serif;
	text-align: center;
	margin-top: 42px;
	margin-bottom: 41px;
}

#blog_wrapper h1{
	margin: 38px 0 45px;
}

.current_post_wrapper h1{
	margin: 39px 0 48px;
}

#about_wrapper h1{
	margin: 39px 0;
}

#contacts_wrapper h1{
	margin: 38px 0 40px;
}

h2{
	font-family: "HelveticaNeue", serif;
	font-weight: 700;
}

/*=================================
COMMON STYLES
=================================*/

strong{
	font-weight: 700;
}

.float_left{
	float: left;
}

.float_right{
	float: right;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

.clear_margin_right{
	margin-right: 0 !important;
}

.center_align{
	text-align: center;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

textarea{
	width: 464px;
	height: 182px;
}

input[type="text"],
input[type="email"]{
	width: 189px;
	height: 12px;
}

input[type="text"],
input[type="email"],
textarea{
	padding: 11px 13px 10px;
	border: 1px solid #eee;
	color: #c6c6c6;
	background-color: #fafafa;
}

textarea:focus, 
input:focus{
    outline: 1px solid #d9d8d8;
}

/*=================================
HEADER STYLES
=================================*/
header#header_top .top_bar{
	padding: 30px 0;
}

/* Main navigation */
.main_nav ul{
	border-top: 1px solid #ececec;
	padding: 0;
	margin: 0;
}

.main_nav ul li{
	float: left;
	list-style: none;
	padding-top: 20px; 
}

.main_nav ul li.active,
.main_nav ul li:hover{
	border-top: 1px solid #f03c3c;
	margin-top: -1px;
}

.main_nav ul li a{
	width: 80px;
	/*padding: 2px 20px;*/
	border-right: 1px solid #ececec;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 500;
	color: #2b2b2b;
	text-transform: uppercase;
}

.main_nav ul li:nth-child(1) a{
	padding: 2px 21px 2px 14px;
}

.main_nav ul li:nth-child(2) a{
	padding: 2px 22px 2px 24px;
}
    
.main_nav ul li:nth-child(3) a{
	padding: 2px 27px 2px 25px;
}

.main_nav ul li:nth-child(4) a{
	padding: 2px 24px 2px 22px;
}

.main_nav ul li.active a{
	color: #f03c3c;
}

#search_form{
	position: relative;
}

#search_form  input[type="search"]{
	width: 165px;
	height: 11px;
	padding: 9px 24px 11px 11px;
	border: 1px solid #ececec;
	color: #d5d5d5;
}

#search_form input[type="submit"]{
	width: 14px;
	height: 13px;
	position: absolute;
	top: 10px;
	right: 14px;
	border: none;
	background-image: url("../img/magnifier.png");
	background-repeat: no-repeat;
	background-color: transparent;
}

/*=================================
SLIDER STYLES
=================================*/
.slider{
	width: 940px;
	margin-top: 40px;
	position: relative;
}

.slider .slider_item{
	float: left;
	margin: 0 6px 6px 0;
	position: relative;
	overflow: hidden;
}

.slider_prev,
.slider_next{
	display: block;
	width: 93px;
	height: 86px;
	position: absolute;
	top: 176px;
	z-index: 10;
	background-repeat: no-repeat;
}

.slider_prev{
	background-image: url("../img/slider_images/arrow_left.png"); 
	left: -16px;
}

.slider_next{
	background-image: url("../img/slider_images/arrow_right.png"); 
	right: -13px;
}

.slider .slider_thumb{
	height: 74px;
	display: block;
}

.slider .slider_thumb_hover{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.75);
	transition: all 0.5s ease 0s;
	opacity: 0;
}

.slider .slider_thumb_hover:after{
	content: url(../img/plus.png);
	position: absolute;
	top: 26%;
	left: 42%;
}

.sl_item_6 .slider_thumb_hover:after,
.sl_item_7 .slider_thumb_hover:after,
.sl_item_8 .slider_thumb_hover:after,
.sl_item_9 .slider_thumb_hover:after{
	top: 34%;
}

/*.sl_item_4 .slider_thumb_hover:after{
	top: 44%;
	left: 47%;
}*/

.sl_item_5 .slider_thumb_hover:after{
	top: 41%;
}

.slider .slider_thumb_hover:hover{
	opacity: 1;
}

.sl_item_1{
	width: 307px;
	height: 75px;
}
.sl_item_2{
	width: 314px;
	height: 75px;
}
.sl_item_3{
	width: 307px;
	height: 75px;
}
.sl_item_4{
	width: 627px;
	height: 299px;
}
.sl_item_5{
	width: 307px;
	height: 183px;
}
.sl_item_6{
	width: 307px;
	height: 110px;
}
.sl_item_7{
	width: 307px;
	height: 116px;
}
.sl_item_8{
	width: 314px;
	height: 116px;
}
.sl_item_9{
	width: 307px;
	height: 116px;
}

.top_post_summary{
	width: 294px;
	height: 195px;
	padding: 32px;
	box-sizing: border-box;
	position: absolute;
	top: 86px;
	right: 21px;
	background-color: rgba(0,0,0,0.8);
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;/*400;*/
	color: #fff;
	z-index: 8;
}

.top_post_summary h2{
	margin: 0 0 22px;
}

.top_post_summary h2 a{
	font-family: "Chunkfive", sans-serif;
	font-size: 24px;
	color: #fff;
}

.top_post_summary .read_more{
	font-size: 12px;
	color: #fff;
	display: block;
	margin-top: 13px;
}

.top_post_summary .read_more:before{
	content: url(../img/link-icon_white.png);
	padding: 0 8px 0 2px;
}

/*=================================
CONTACT FORM STYLES
=================================*/
#contacts_wrapper{
	margin-bottom: 44px;
}

#contacts_wrapper p{
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
	color: #464646;
}

#contact_form input[type="text"],
#contact_form input[type="email"],
textarea{
	display: block;
	margin-bottom: 10px; 
	font-weight: 500;
}

#contact_form input[type="submit"] {
    padding-left: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #474747;
    border: 0;
    background: url('../img/link-icon.png') no-repeat;
    background-position: left center;
}

#map-canvas{
	margin: 25px 0 37px 0;
}

/*=================================
BLOG STYLES
=================================*/
.categories{
	font-weight: 500;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.categories li{
	list-style: none;
	float: left;
}

.categories li a{
	color: #000;
}

.categories li.active a{
	color: #f03c3c;
}

.categories li + li:before{
	content:"/";
	padding: 0 8px;
}

.posts_wrapper{
	margin-top: 20px;
}

article.post{
	width: 220px;
	overflow: hidden;
	margin-bottom: 20px;
}

.column{
	float: left;
	margin-right: 20px;
}

.column:nth-child(4){
	margin-right: 0;
}

.post_body{
	padding: 12px 13px 15px;
	border: 1px solid #dbdbdb;
	border-top: 0;
}

.post_thumb{
	display: block;
	position: relative;
}

.post_thumb img{
	vertical-align: bottom;
	width: 100%;
	height: auto;
}

.post_thumb_hover{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.75);
	transition: all 0.5s ease 0s;
	opacity: 0;
}

.post_thumb_hover:after{
	content: url(../img/plus.png);
	position: absolute;
	top: 37%;
	left: 40%;
}

.post_hover_info{
	color: #fff;
	font-weight: normal;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
}

.post_hover_info div{
	float: left;
	width: 60px;
	text-align: center;
	margin-right: 16px;
}

.post_hover_info div:last-child{
	margin-right: 0;
}

.post_views:after{
	content: url(../img/eye_icon.png);
	position: absolute;
	top: -20px;
	left: 22px;
}

.post_date:after{
	content: url(../img/clock_icon.png);
	position: absolute;
	top: -20px;
	left: 97px;
}

.post_likes:after{
	content: url(../img/heart_icon.png);
	position: absolute;
	top: -20px;
	left: 175px;
}

.post_thumb_hover:hover{
	opacity: 1;
}

.post_title{
	margin: 0 0 2px;
}

.post_title a{
	font-weight: 700;
	font-size: 18px;
	color: #000;
}

.post_meta{
	margin: 0;
	padding: 0;
}

.post_meta li{
	list-style: none;
	font-size: 11px;
	font-weight: 500;
	color: #8a8a8a;
	float: left;
}

.post_meta li + li:before{
	content:"/";
	padding: 0 7px;
}

.post_summary{
	margin: 11px 0 15px;
	font-weight: 500;
}

.post_read_more{
	color: #2e2e2e;
	font-size: 12px;
	font-weight: 500;
	display: block;
}

.link_button{
	font-size: 14px;
	font-weight: 700;
	color: #474747;
	display: block;
}

.post_read_more:before,
.link_button:before{
	content: url(../img/link-icon.png);
}

.post_read_more:before{
	padding-right: 9px;
}

.link_button:before{
	padding-right: 11px;
}

.current_post_wrapper table{
	font-weight: 500;
	text-align: left;
	width: 100%;
}

.current_post_wrapper tr th{
	color: #464646;
}
.current_post_wrapper tr td{
	color: #f03c3c;
	margin: 0;
}

.current_post_wrapper p{
	margin: 22px 0 19px;
	font-weight: 500;
}

.similar_posts{
	margin: 39px 0 20px;
}

.similar_posts h1{
	margin: 0 0 45px 0;
}

.similar_posts article{
	float: left;
	margin-right: 20px;
}

.similar_posts .thumb_wrapper{
	height: 184px;
	overflow: hidden;
}

.similar_posts h2 a{
	color: #2e2e2e;
	font-weight: 700;
}

.similar_posts .post_body h2{
	text-align: left;
	margin-bottom: 0;
}

.similar_posts .post_body{
	padding: 12px 0 11px 12px;
}

.pagination{
	margin: 29px 0 48px;
}

#blog_wrapper + .pagination{
	margin-bottom: 36px;
}

.pagination a{
	font-size: 12px;
	font-weight: 700;
	color: #666;
	text-align: center;
	float: left;
	width: 29px;
	height: 29px;
	padding-top: 4px;
	border: 1px solid #fff;
	border-radius: 4px;
	box-sizing: border-box;
	background: -moz-linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(100%, rgba(213,213,213,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(213,213,213,1) 0%, rgba(247,247,247,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d5d5d5',GradientType=0 ); /* ie6-9 */
	-moz-box-shadow: inset -2px -2px 1px #bbb;
	-webkit-box-shadow: inset -2px -2px 1px #bbb;
	box-shadow: inset -2px -2px 1px #bbb;
	margin-right: 2px;
}

.pagination a:hover{
	background: -moz-linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(231,231,231,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(254,254,254,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 ); /* ie6-9 */
}

.pagination a.current{
	background: -moz-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(208,208,208,1)), color-stop(100%, rgba(227,227,227,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(208,208,208,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#e3e3e3',GradientType=0 ); /* ie6-9 */
	-moz-box-shadow: inset 2px 2px 1px #8a8a8a;
	-webkit-box-shadow: inset 2px 2px 1px #8a8a8a;
	box-shadow: inset 2px 2px 1px #8a8a8a;
}

/*=================================
CURRENT POST ITEM PAGE STYLES
=================================*/
.current_post_wrapper .left_side{
	width: 540px;
	margin-right: 40px;
}

.current_post_wrapper .right_side{
	width: 360px;
}

.current_post_wrapper figure{
	margin: 0;
    max-width: 540px;
}

.current_post_wrapper figure:first-child{
	margin-bottom: 25px;
}

.current_post_wrapper figure img{
	max-width: 100%;
	height: auto;
}

/*=================================
ABOUT US STYLES
=================================*/
.capital_letter{
	float: left;
	width: 32px;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #f03c3c;
}

#about_wrapper figure{
	margin: 0 40px 0 0;
	float: left;
}

#about_wrapper blockquote .capital_letter{
	width: 45px;
	font-size: 72px;
	line-height: 55px;
    font-style: normal;
}

#about_wrapper blockquote{
	color: #414141;
	font-style: italic;
	font-weight: 300;
	margin: 0;
}

#about_wrapper p.bold{
	font-weight: 500;
	color: #464646;
	line-height: 16px;
}

.btn_wrapper .btn{
	margin-right: 17px;
}

.btn{
	font-size: 13px;
	line-height: 14px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-image: none;
	border: 0px solid;
	border-radius: 4px;
	padding: 11px 14px;
}

.btn_green_color{
	background: #9ab935;
	background-image: -webkit-linear-gradient(top, #9ab935, #7ea529);
	background-image: -moz-linear-gradient(top, #9ab935, #7ea529);
	background-image: -ms-linear-gradient(top, #9ab935, #7ea529);
	background-image: -o-linear-gradient(top, #9ab935, #7ea529);
	background-image: linear-gradient(to bottom, #9ab935, #7ea529);
}

.btn_grey_color{
	background: #d7d7d7;
	background-image: -webkit-linear-gradient(top, #d7d7d7, #cbcbcb);
	background-image: -moz-linear-gradient(top, #d7d7d7, #cbcbcb);
	background-image: -ms-linear-gradient(top, #d7d7d7, #cbcbcb);
	background-image: -o-linear-gradient(top, #d7d7d7, #cbcbcb);
	background-image: linear-gradient(to bottom, #d7d7d7, #cbcbcb);
}

.btn_blue_color{
	background: #77aff8;
	background-image: -webkit-linear-gradient(top, #77aff8, #5d95f6);
	background-image: -moz-linear-gradient(top, #77aff8, #5d95f6);
	background-image: -ms-linear-gradient(top, #77aff8, #5d95f6);
	background-image: -o-linear-gradient(top, #77aff8, #5d95f6);
	background-image: linear-gradient(to bottom, #77aff8, #5d95f6);
}

.btn_orange_color{
	background: #f78349;
	background-image: -webkit-linear-gradient(top, #f78349, #f56539);
	background-image: -moz-linear-gradient(top, #f78349, #f56539);
	background-image: -ms-linear-gradient(top, #f78349, #f56539);
	background-image: -o-linear-gradient(top, #f78349, #f56539);
	background-image: linear-gradient(to bottom, #f78349, #f56539);
}

.btn_pink_color{
	background: #f379f1;
	background-image: -webkit-linear-gradient(top, #f379f1, #ef5ded);
	background-image: -moz-linear-gradient(top, #f379f1, #ef5ded);
	background-image: -ms-linear-gradient(top, #f379f1, #ef5ded);
	background-image: -o-linear-gradient(top, #f379f1, #ef5ded);
	background-image: linear-gradient(to bottom, #f379f1, #ef5ded);
}

.btn_red_color{
	background: #fa5b5b;
	background-image: -webkit-linear-gradient(top, #fa5b5b, #f84747);
	background-image: -moz-linear-gradient(top, #fa5b5b, #f84747);
	background-image: -ms-linear-gradient(top, #fa5b5b, #f84747);
	background-image: -o-linear-gradient(top, #fa5b5b, #f84747);
	background-image: linear-gradient(to bottom, #fa5b5b, #f84747);
}

.btn_light_blue_color{
	background: #6de5eb;
	background-image: -webkit-linear-gradient(top, #6de5eb, #55dbe5);
	background-image: -moz-linear-gradient(top, #6de5eb, #55dbe5);
	background-image: -ms-linear-gradient(top, #6de5eb, #55dbe5);
	background-image: -o-linear-gradient(top, #6de5eb, #55dbe5);
	background-image: linear-gradient(to bottom, #6de5eb, #55dbe5);
}

#about_wrapper p{
	margin: 25px 0;/*30px 0;*/
	color: #414141;
	font-weight: 500;/*400;*/
}

#about_wrapper p.half_col{
	width: 440px;
	margin-bottom: 0;
}

#about_wrapper .col_1_of_3{
	width: 300px;
	margin-right: 20px;
	margin-bottom: 31px;
}

.alerts_wrapper .alert{
	margin-bottom: 18px;
}

.alert{
	font-size: 14px;
	line-height: 14px;
	font-style: italic;
	text-align: center;
	padding: 23px;
	border: 1px solid;
}

.alert_success{
	background-color: #effeb9;
	border-color: #98c601;
	color: #98c601;
}

.alert_info{
	background-color: #d1e4f3;
	border-color: #4d8fcb;
	color: #4d8fcb;
}

.alert_warning{
	background-color: #ffe9ad;
	border-color: #fab418;
	color: #fab418;
}

.alert_danger{
	background-color: #fbcbc1;
	border-color: #eb5439;
	color: #eb5439;
}

.alerts_wrapper{
	margin: 35px 0 44px;
}

.alerts_wrapper .alert:last-child{
	margin-bottom: 0;
}

/*=================================
FOOTER STYLES
=================================*/
footer{
	color: #4f5356;
	padding: 12px 0;
	border-top: 1px solid #ececec;
}

footer .socials{
	padding-top: 12px;
}

footer .socials a{
	float: left;
	margin-right: 2px;
}

.footer_info p{
	text-align: right;
}
